body {
    /* 讓 header 服貼置頂 */
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
}


main {
    margin: 0px auto;
    width: 1100px;
    height: 860px;
    background-color: #5c5c5c;
}

header {
    display: flex;
    justify-content: center;
}

#logo {
    width: 200px;
    height: 200px;
    z-index: 2;
}
#logo:hover {
    cursor: pointer;
}

nav {
    margin: auto 0;
}
ul {
    float: right;
    list-style: none;
    clear: both;
}
li {
    margin: -5 10;
    float: left;
    cursor: pointer;
}
#nav01 {
    font-family: Microsoft JhengHei;
    font-size: 14px;
    color: #d8d8d8;
}
#nav02 {
    font-family: DFKai-sb;
    font-size: 20px;
    color: white;
}
.divider {
    font-size: 3px;
    font-weight: 100;
}
#selColorMode {
    margin: -8 0 0 15;
    height: 28px;  
    width: 100px; 
    border: 2px solid #aaaaaa;
    color: white;
    background-color: #5c5c5c;
}
#selLanguage {
    margin: -8 0 0 8;
    height: 28px;  
    width: 100px; 
    border: 2px solid #aaaaaa;
    color: white;
    background-color: #5c5c5c;
}
#WTF {
    cursor: help;
}

a, a:link, a:visited{
    text-decoration: none; /* 去除底線 */
    color: #d8d8d8; /* 超連結字體顏色 */
}
a:hover, li:hover {
    color: #ebebeb; /* 滑鼠停在超連結中文字的顏色 */
}

#content {
    /* 圖片置中 */
    display: block;
    margin: -10 auto;

    width: 1000px;
    height: 625px;
}


footer {
    margin: 25 auto;
    width: 900px;
}

#copyright {
    margin: 0 auto;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
}
#github {
    margin: -8 20;
    width: 30;
}
#github:hover {
    animation: shallowing 1.5s forwards cubic-bezier(0, 1.18, 0.89, 1.01);
}
@keyframes shallowing {
    0% {opacity: 0.8;}
    100% {opacity: 0.3;}
}


#overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    display: none;
    background-color: rgba(255, 255, 255, 0.4);
}
#popupWindow {
    /* 絕對位置置中 (讓他獲得整體可運用空間的範圍)*/
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    
    top: 0;
    width: 800px;
    z-index: 6;
    display: none;
    background-color: #3b3b3b;

    font-family: DFKai-sb;
    overflow: auto;
}
#text {
    margin: 0 auto;
    width: 80%;
    color: white;
}
#THX {
    margin: 100px 0 0 30px;
}
#email {
    display: inline;
}
.EN {
    font-family: sans-serif;
    white-space: nowrap;
    text-overflow:ellipsis;
}
